body{
   background-color: initial;
}

#RomanaG{
   background-color: darkorchid;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:white;
   
}

#KatkaT{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KatkaG{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SarkaT{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#LenkaK{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}