body{
   background-color: initial;
}

#RomanaG{
   background-color: initial;
   font-family:initial;
   color:initial;
   
}

#KatkaT{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KatkaG{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SarkaT{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#LenkaK{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}