body{
   background-color: initial;
}

#RomanaG{
   background-color: purple;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: whitesmoke;
   
}

#KatkaT{
   background-color:beige;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:blueviolet;
   
}

#KatkaG{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SarkaT{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#LenkaK{
   background-color:rgb(127, 255, 165);
   font-family: initial;
   color:initial;
   
}